{% load bio_tags %}

<!DOCTYPE html>
<head>
    <title>My biography</title>
</head>
<body>
    <p id="first_name">{{ bio.first_name }}</p>
    <p id="last_name">{{ bio.last_name }}</p>
    <p id="born">{{ bio.born }}</p>
    <p id="bio">{{ bio.bio }}</p>
    <p id="email">{{ bio.email }}</p>

    {% if user.is_authenticated %}
        <p><a href="/edit/">Edit this data</a></p>
        <p><a href="/logout/">Logout</a></p>
        <p>{% edit_link request.user %}</p>
    {% else %}
        <p><a href="/login/">Login to edit it</a></p>
    {% endif %}

    <p>{% edit_link bio %}</p>
</body>
</html>
